#grid{

    /* display:grid;
    height :750px;
    width: 750px; */
}
.normal-cell{

    width: 50px;
    height: 50px;

}
.grid-cell-black{

    width: 65px;
    height: 65px;
    border: 1px solid black;
    background-color:black;
 
}

.grid-cell-white{

    width: 65px;
    height: 65px;
    border: 1px solid black;
    background-color:white;
    display:flex;
    flex-direction:row;
    

}

.grid-cell-white-with-label{

    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color:white;
    display:flex;
    flex-direction: column;

 
}
.grid-cell-input{

    width: 35px;
    height: 35px;
 
}

.grid-cell-input-label{
   
    color: black;
    height : 0.2rem;

   

}


.grid-cell-middle{

    display:flex;
    flex-direction:column;


}

.grid-cell-top{

    height : 15px;
    text-align:center;

}
.grid-cell-bottom{

    height : 10px;


}
.grid-cell-left{

    width : 10px;
    text-align:center;
    padding-top:1rem;

}

.grid-cell-right{

 width : 10px;
    
}
.grid-row{

    display:flex;
    flex-direction:row;


}






/**
table original ui
*/
table.memory-board {
    border-spacing: 2px;
    border-collapse: separate;
  }
  table.memory-board tr td {
    width: 2em;
    height: 2.2em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    color: rgba(0, 0, 0, 0);
    padding: 0 !important;
    border: 1px solid black;
    border-radius: 4px;
  }
  table.memory-board td:not(:empty) {
    background: gray;
  }
  table.memory-board td:empty.card-visible {
    border: 1px solid rgba(0, 0, 0, .2);
  }
  table.memory-board td.card-visible {
    color: rgba(0, 0, 0, 1);
    background: white;
  }
  table.memory-board td.card-visible.card-control {
    background: rgba(255, 255, 0, .25);
    border-color: rgb(128, 64, 0);
  }
  table.memory-board td.card-blocked {
    background: rgba(0, 255, 0, .25);
    border-color: rgb(64, 128, 0);
    cursor: wait;
  }
  
  /**
  create nice acade button
  */